#GOA{
font-size: 60px;
color: rgb(5, 94, 5);
font-weight: 500;
font-family: Roboto;
}
h1{
color: rgb(98, 98, 226);
font-style: italic;


}
.vara{
color: rgb(56, 111, 56);
font-size: 30px;
font-weight: 200;
font-style: italic;
}






















