#luka{
    text-shadow: palevioletred  0px 0px 0px;
    font-size: 70px;
    color: darkgreen;
    font-style: normal;
    }
    h1{
    text-shadow: green 5px 5px 5px ;
    color: green;
    font-style: italic;
    
    }
    #of{
    color: blue;
    font-size: 40px;
    font-style: normal;
    text-shadow: red 0px 0px 0px;
    }
    a{
    font-size: 40px;
    background-color: lawngreen;
    
    
    }
    #ok{
    font-size: 70px;
    font-style: normal;
    color: green;
    text-shadow: green 0px 0px 0px;
    }
    #csss{
    font-style: normal;
    font-size: 40px;
    color: blue;
    text-shadow: blue 0px 0px 0px;
    }
    #lukaa{
    font-size: 50px;
    font-style: italic;
    
    }
    #js{
    color: green;
    
    font-style: italic;
    
    }
    #lukka{
    color: green;
    font-size: 50px;
    font-style: normal;
    font-family: Roboto;
    text-shadow: red 0px 0px 0px;
    }
    img{
    width: 350px;
    height: 350px;
    
    
    }
    #nika{
text-shadow: red 0px 0px 0px;
color: blue;


    }
    #poco{
height: 500px;



    }
    p{
font-size: 30px;


    }
    #ppp{
font-style: italic;
color: blue;
text-shadow: blue 5px 5px 5px;
    }
    #toug{
color: green;
font-size: 50px;

    }
    p{
font-style: italic;
color: green;


    }