table{
    font-size: 85px;
}
tr:nth-child(1){
    background-color: rgb(161, 204, 161);
}
tr:nth-child(2){
    background-color: rgb(107, 154, 107);
}
tr:nth-child(3){
    background-color: rgb(104, 144, 104);
}
tr:nth-child(4){
    background-color: rgb(98, 141, 98);
}
tr:nth-child(5){
    background-color: rgb(95, 136, 95);
}
tr:nth-child(6){
    background-color: rgb(103, 135, 103);
}







