#GOA{
color: red;
font-size: medium;


}
#gio{

color: blue;
font-size: larger;


}
#luka{
color: green;
font-size: 30px;


}
#toug{
color: rgb(54, 103, 5);
font-size: 75px;
font-family: Roboto;
}

#auk{
font-size: 30px;
text-align-last: center;

}
img{
width: 900px;


}
