#conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around; 
    height: 650px;
    width: 1000px;
    background-color: rgb(233, 226, 226);
    border: 2px solid black;
}
#itam1{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(169, 176, 176);
}
#itam2{
    
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(169, 176, 176);
}
#itam3{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(169, 176, 176);
}
#itam4{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(169, 176, 176);
}
img{
    height: 50px;
    width: 50px;
    text-align: center;
}
.luka{
    font-size: 30px;
    text-align: center;
}
#ok{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ura{
    display: flex;
    color: grey;
    justify-content: center;
    align-items: center;
}